.popover {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translate(0, 10px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 16px;
  width: auto;
  top: 175px;
}

.open-popover {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
